body{
	background: url(coffee1.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Dosis', sans-serif;
}

.rowheight{
	height: 350px;
	color: #999;
	text-transform: uppercase;
	margin-bottom: -75px;
}

.cpy{
	background-color: #a1a1a1;
	bottom: 0;
	position: fixed;
	font-size: 18px;
	text-transform: capitalize;
}

p{
	margin: auto;
}